*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   background-color: rgb(141, 141, 141);
    color: black;
}
.box-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border: 1px solid black;
}

.titulo-login{
position: relative;
bottom: 9vh;
left: 1vh;
}
.texto-login{
    text-align: center;
    position: relative;
    bottom: 3vh;
}

.dados-cliente{
    display: flex;
    flex-direction: column;
    width: 52%;
    padding: 5px;
    margin-left: 25%;
    gap: 10px;
    
}

.btn-Login{
    position: relative;
    top: 2vh;
}

input{
    font-size: 15px;
    padding: 4px;
    border-radius: 10px;
    border: none;
}


.btn-Login{
    background-color: rgb(20, 90, 0);
    color: whitesmoke;
    border: none;
    cursor: pointer;
   
}

.box-login.ativa{
    background-color: rgb(10, 47, 0);
    color: rgb(104, 104, 104);
    border: none;
    cursor: pointer;
}

.Criar-conta{
    position: relative;
    top: 3vh;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    color: rgb(40, 39, 39);
}

.box-meio{
    border: 1px solid whitesmoke;
    background-color: rgb(134, 169, 229);
    border-radius: 50px;
    width: 45vh;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border: none;
}
